@model List<ApplicationUserDomain>


@{
    ViewBag.Title = "All Users";
}

@if (Model.Any())
{
    <a asp-action="Register" asp-controller="Account" class="btn btn-info mb-4">Add new User</a>

    <table class="table table-borderless" style="width:100%" id="example5">
        <thead style="background-color : white;">
            <tr>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for (int ini = 0; ini < Model.Count; ini = ini + 3)
            {
                <tr>
                    <td>
                        <div class="card-deck">
                            @if (ini < Model.Count)
                            {
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"> @Model[ini].observer_name</h5>
                                        <div class="dropdown-divider"></div>
                                        <p class="card-text">Email: @Model[ini].Email</p>
                                        <p class="card-text">User Type: @Model[ini].user_type</p>
                                        <p class="card-text">District: @Model[ini].district</p>
                                        <p class="card-text">Organization: @Model[ini].organization</p>
                                        <p class="card-text">Designation: @Model[ini].designation</p>
                                        <p class="card-text">Created on : @Model[ini].date</p>
                                        @if (Model[ini].status)
                                        {
                                            <p class="card-text">Status : <button class="btn btn-info btn-sm">Active</button></p>
                                        }
                                        else
                                        {
                                            <p class="card-text">Status : <button class="btn btn-light btn-sm" disabled>InActive</button></p>
                                        }


                                        <form asp-action="DeleteUser" asp-route-id="@Model[ini].Id" method="post" class="he-40">
                                            <a class="btn-sm btn" style="font-weight:600; color: #0366d6" asp-action="EditUser" asp-controller="Administration" asp-route-id="@Model[ini].Id">Edit</a>
                                            <span id="confirmDeleteSpan_@Model[ini].Id" style="display:none">
                                                <span>Are you sure you want to delete?</span>
                                                <button type="submit" class="btn btn-warning btn-sm">Yes</button>
                                                <a href="#" class="btn btn-secondary btn-sm" onclick="confirmDelete(event, '@Model[ini].Id', false)">No</a>
                                            </span>
                                            <span id="deleteSpan_@Model[ini].Id">
                                                <a href="#" class="btn btn-sm"  style="font-weight:600; color: #0366d6" onclick="confirmDelete(event, '@Model[ini].Id', true)">Delete User</a>
                                            </span>
                                        </form>

                                    </div>
                                </div>
                            }
                            @if ((ini + 1) < Model.Count)
                            {
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"> @Model[ini + 1].observer_name</h5>
                                        <div class="dropdown-divider"></div>
                                        <p class="card-text">Email: @Model[ini + 1].Email</p>
                                        <p class="card-text">User Type: @Model[ini + 1].user_type</p>
                                        <p class="card-text">District: @Model[ini + 1].district</p>
                                        <p class="card-text">Organization: @Model[ini + 1].organization</p>
                                        <p class="card-text">Designation: @Model[ini + 1].designation</p>
                                        <p class="card-text">Created on : @Model[ini + 1].date</p>
                                        @if (Model[ini + 1].status)
                                        {
                                            <p class="card-text">Status : <button class="btn btn-info btn-sm">Active</button></p>
                                        }
                                        else
                                        {
                                            <p class="card-text">Status :<button class="btn btn-info btn-sm" disabled>InActive</button></p>
                                        }


                                        <form asp-action="DeleteUser" asp-route-id="@Model[ini + 1].Id" method="post" class="he-40">
                                            <a class="btn btn-sm"  style="font-weight:600; color: #0366d6" asp-action="EditUser" asp-controller="Administration" asp-route-id="@Model[ini + 1].Id">Edit</a>
                                            <span id="confirmDeleteSpan_@Model[ini + 1].Id" style="display:none">
                                                <span>Are you sure you want to delete?</span>
                                                <button type="submit" class="btn btn-warning btn-sm">Yes</button>
                                                <a href="#" class="btn btn-secondary btn-sm" onclick="confirmDelete(event, '@Model[ini + 1].Id', false)">No</a>
                                            </span>
                                            <span id="deleteSpan_@Model[ini + 1].Id">
                                                <a href="#" class="btn btn-sm" style="font-weight:600; color: #0366d6" onclick="confirmDelete(event, '@Model[ini + 1].Id', true)">Delete User</a>
                                            </span>
                                        </form>

                                    </div>
                                </div>
                            }

                            @if ((ini + 2) < Model.Count)
                            {
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"> @Model[ini + 2].observer_name</h5>
                                        <div class="dropdown-divider"></div>
                                        <p class="card-text">Email: @Model[ini + 2].Email</p>
                                        <p class="card-text">User Type: @Model[ini + 2].user_type</p>
                                        <p class="card-text">District: @Model[ini + 2].district</p>
                                        <p class="card-text">Organization: @Model[ini + 2].organization</p>
                                        <p class="card-text">Designation: @Model[ini + 2].designation</p>
                                        <p class="card-text">Created on : @Model[ini + 2].date</p>
                                        @if (Model[ini + 2].status)
                                        {
                                            <p class="card-text">Status : <button class="btn btn-info btn-sm">Active</button></p>
                                        }
                                        else
                                        {
                                            <p class="card-text">Status :<button class="btn btn-info btn-sm" disabled>InActive</button></p>
                                        }


                                        <form asp-action="DeleteUser" asp-route-id="@Model[ini + 2].Id" method="post" class="he-40">
                                            <a class="btn btn-sm" style="font-weight:600; color: #0366d6" asp-action="EditUser" asp-controller="Administration" asp-route-id="@Model[ini + 2].Id">Edit</a>
                                            <span id="confirmDeleteSpan_@Model[ini + 2].Id" style="display:none">
                                                <span>Are you sure you want to delete?</span>
                                                <button type="submit" class="btn btn-warning btn-sm">Yes</button>
                                                <a href="#" class="btn btn-secondary btn-sm" onclick="confirmDelete(event, '@Model[ini + 2].Id', false)">No</a>
                                            </span>
                                            <span id="deleteSpan_@Model[ini + 2].Id">
                                                <a href="#" class="btn btn-sm" style="font-weight:600; color: #0366d6" onclick="confirmDelete(event, '@Model[ini + 2].Id', true)" id="deluser" >Delete User</a>
                                            </span>
                                        </form>

                                    </div>
                                </div>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts{
    <script src="~/js/CustomFile.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/DataTableBootstrp.js"></script>
}