@model RoadListViewModel

@{
    ViewBag.Title = "Construction Site Monitoring Dashboard";
    var sn = 1;
    var redirections = ViewData["Redirection"]?.ToString();
    var districtStatus = ViewData["district"]?.ToString();
}

@if (Model.district_all.Any())
{
    <div class="mb-4">
        <div class="row">
            <div class="col-md-auto">
                <h5 class="colorMe">Construction Site Visit</h5>
            </div>
            <div class="col-md-3">
                <form asp-action="ListRoads" method="POST" asp-route-redirect="@redirections">
                    <select class="custom-select" asp-for="@Model.districtSelected" asp-items="@Model.district_all" onchange="this.form.submit()">
                        <option value="">Select District</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
}

@if (Model.RoadList.Any())
{
    <div id="TableBox">
        <table id="example" class="table table-hover" style="width:100%">
            <thead id="headTable">
                <tr>
                    <th scope="col">SN</th>
                    <th scope="col">Road Code</th>
                    <th scope="col">District</th>
                    <th scope="col" style="width: 17%">Last Uploaded Date</th>
                    <th scope="col" style="width: 17%">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var road in Model.RoadList)
                {
                    <tr>
                        <th scope="row">@sn</th>
                        <td>@road.road_code</td>
                        <td>@road.district</td>
                        <td>@road.last_uploaded_date.Date</td>
                        <td>
                            <form method="post" asp-action="ListRoadDetail" asp-route-districtStatus="@districtStatus" asp-route-redirect="@redirections">
                                <input type="hidden" asp-for="@road.road_code" name="road_code" />
                                <input type="hidden" asp-for="@road.last_uploaded_date" name="uploadDate" />
                                <input type="hidden" asp-for="@road.district" name="district" />
                                <button type="submit" class="btn btn-light">View All Visit</button>
                            </form>
                        </td>
                    </tr>
                    sn++;
                }

            </tbody>
        </table>
    </div>
}


@section Scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/DataTableBootstrp.js"></script>
}
