@inject UserManager<ApplicationUser> userManager;

@model IEnumerable<DetailRoadList>

@{
    ViewBag.Title = "Construction Site Monitoring Dashboard";
    var i = 1;
    var user = await userManager.GetUserAsync(User);
}

<div class="mb-5"></div>

<table id="example" class="table table-hover" style="width:100%">
    <thead>
        <tr>
            <th scope="col">SN</th>
            <th scope="col">Observer Name</th>
            <th scope="col">Designation</th>
            <th scope="col">Visit Date</th>
            <th scope="col">Uploaded Date</th>
            <th scope="col">Report status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var road in Model)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@road.observer_name</td>
                <td>@road.designation</td>
                <td>@road.date.Year-@road.date.Month-@road.date.Day</td>
                <td>@road.uploaded_date.Year-@road.uploaded_date.Month-@road.uploaded_date.Day</td>
                <td>
                    @if (road.report_status == 1)
                    {
                        <a href="#" class="btn btn-info">Final Report</a>
                    }
                    else
                    {
                        <a href="#" class="btn btn-warning">Pending!</a>
                    }
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions!
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                            @if ((User.IsInRole("Admin") || user.Email == road.observer_email) && road.report_status == 0)
                            {
                                <a href="#" class="dropdown-item">Finalize</a>
                                <div class="dropdown-divider"></div>
                            }

                            @if (user.Email == road.observer_email || User.IsInRole("Admin") || road.report_status == 1)
                            {
                                <form asp-action="ViewReport" method="post">
                                    <input asp-for="@road.road_code" name="road_code" type="hidden" />
                                    <input asp-for="@road.date" name="date" type="hidden" />
                                    <input asp-for="@road.observer_email" name="observer_email" type="hidden" />
                                    <input asp-for="@road.road_name" name="road_name" type="hidden" />
                                    <button type="submit" class="dropdown-item">View Report</button>
                                </form>
                                <div class="dropdown-divider"></div>
                            }
                            else
                            {
                                <a href="#" class="dropdown-item">Not FInalized</a>
                                <div class="dropdown-divider"></div>
                            }

                            @if (user.Email == road.observer_email || User.IsInRole("Admin"))
                            {
                                if (road.report_status == 0)
                                {
                                    <a href="#" class="dropdown-item">Edit Report</a>
                                    <div class="dropdown-divider"></div>
                                }

                                if (User.IsInRole("Admin"))
                                {
                                    <a href="#" class="dropdown-item">Delete Report</a>
                                    <div class="dropdown-divider"></div>
                                }


                            }
                        </div>
                    </div>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>



@section Scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/DataTableBootstrp.js"></script>
}
